@import "tailwindcss";

:root {
  --background: #AD4CC2;
  --foreground: #fff;
}

/* kalau lo pakai @theme inline, ga perlu duplikasi variabel font di situ */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), sans-serif;
}

.banner-image {
  background-image: var(--banner-bg-image, url("/image/bg-hero.jpg"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
